@font-face { 
	font-family: Ubuntu; 
	font-weight: bold; 
	src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face { 
  font-family: Ubuntu-bold; 
  font-weight: bold; 
  src: url('../fonts/Ubuntu-Bold.ttf'); 
}

body{
	margin: 0;
	background-image:url("../images/BGimageSm.JPG");
}
fieldset{
	width: 35vw;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #BBFFBB;
	border: 0.3vw outset #00FFBB;
	border-radius: 5%;
}
article{
	border-radius: 2vh;
	width: 33vw;
	margin: auto;
	margin-top: 3vh;
	margin-bottom: 3vh;
	left: 0;
	right: 0;
	border: 3px dotted black;
}
#main{
	border-radius: 2vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	width: 100%;
	margin: auto;
	position: initial;
	left: 0;
	right: 0;
	background-color: #FFFF66;
}
#welcomeText{
	font-family: "Ubuntu", Arial;
	padding: 2vh;
	text-align: center;
	font-size: 4vh;
	width: 92%;
	position: initial;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	white-space: pre-wrap;
}
a{
	border-radius: 2vh;
	display: block;
	height: 11vh;
	margin: auto;
	left: 0;
	right: 0;
}
#enterButton{
	font-family: "Ubuntu-Bold", Arial;
	height: 11vh;
	width: 25vw;
	font-size: 6vh;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 0;
	right: 0;
	color: #FF5522;
	font-weight: bolder;
	background-color: #FFCC66;
}
hr{
	margin-top: 0;
	margin-bottom: 0;
}
#newsHeader{
	display: block;
	font-size: 2em;
	font-family: Ubuntu;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}
#newsText{
	max-height: 45vh;
	border-radius: 2vh;
	background-color: #BBBBFF;
	overflow: auto;
	padding-top: 2vh;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 1.5em;
	font-family: Ubuntu, Arial; 
}