@font-face { 
	font-family: Ubuntu; 
	font-weight: bold; 
	src: url("../fonts/Ubuntu-Regular.ttf");
}
@font-face { 
	font-family: Ubuntu-bold; 
	font-weight: bold; 
	src: url('../fonts/Ubuntu-Bold.ttf'); 
}

body{
    background-image:url("../images/BGimage.JPG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#registerBox{
	border: 3px dashed #000;
	border-radius: 20%;
	background-color: rgba(255,255,0,0.5);
	width: 20vw;
	height: 45vh;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#header{
	font-family: "Ubuntu-Bold", Arial;
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
	border: 3px dotted #AA0000;
	border-radius: 9px;
	background-color: rgba(255,48,48,0.75);
	margin: auto;
	margin-top: 1vh;
	position: absolute;
	left: 0;
	right: 0;
	display: inline;
	width: 15vw;
}
#registerForm{
	height: 24vh;
	position: relative;
	top: 8vh;
}
fieldset{
	width: 13vw;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	height: 100%;
	background-color: rgba(255,48,48,0.5);
	border: 1px solid black;
}
#usernameInput{
	font-size: 2vh;
	width: 12.5vw;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	position: absolute;
	height: 3vh;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}
#passwordInput{
	font-size: 2vh;
	width: 12.5vw;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	position: absolute;
	height: 3vh;
	margin-top: 2vh;
	margin-bottom: 0;
	text-align: center;
}
#repeatPasswordInput{
	font-size: 2vh;
	width: 12.5vw;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	position: absolute;
	height: 3vh;
	margin-top: 4vh;
	margin-bottom: 0;
	text-align: center;
}
#emailInput{
	font-size: 2vh;
	width: 12.5vw;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	position: absolute;
	height: 3vh;
	margin-top: 6vh;
	margin-bottom: 0;
	text-align: center;
}
#termsInput{
	width: 12.5vw;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	position: absolute;
	height: 3vh;
	margin-top: 10vh;
	margin-bottom: 0;
	text-align: center;
}
/*#checkbox{
	transform: scale(3);
	position: relative;
	top: -1vh;
}*/
#termsText{
	display: block;
}
#submitButton{
	font-size: 1em;
	width: 7vw;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	position: absolute;
	height: 3vh;
	margin-top: 16vh;
	margin-bottom: 0;
	text-align: center;
}
#loginLink{
	font-family: "Ubuntu", Arial;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: green;
	margin-bottom: 2vh;
	margin-right: auto;
	margin-left: auto;
	top: 10vh;
	left: 0;
	right: 0;
	position: relative;
}
a:link{
	color:blue;
}
a:visited{
	color:blue;
}
a:hover{
	color:red;
}
a:active{
	color:yellow;
}
#registerError{
	font-family: "Ubuntu", Arial;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: red;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: 9vh;
	position: relative;
}
#successMessage{
	font-family: "Ubuntu", Arial;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	color: green;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: 9vh;
	position: relative;
}